@import url("https://fonts.googleapis.com/css2?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");


/* CODE GÉNÉRAL */
/* --- Base CSS --- */
p {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 {
    font-family: 'Oswald' , sans-serif;
    margin: 0;
    padding: 0;
}

/* --- HEADER --- */
/* --- Header Styles --- */
.custom-header {
    background-color: #a4c7e2; 
    padding: 2em 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    clip-path: ellipse(100% 100% at 50% 0); 
}

/* Logo */
.header-logo {
    max-width: 6em;
    height: auto;
    margin-left: 0.2em;
}

.footer-logo {
    max-width: 6em;
    height: auto;
    margin-left: 0.2em;
}

/* Titre principal */
.header-title {
    font-size: 36px;
    color: rgb(251, 255, 195);
    font-weight: bold;
    margin: 0;
}

/* Sous-titre */
.header-subtitle {
    font-size: 24px;
    color: white;
    margin: 0;
}

/* --- FOOTER --- */
/* --- Footer Styles --- */
.custom-footer {
    background-color: #a4c7e2; /* Bleu clair du footer */
    padding: 0.2em 0;
    border-top: 1px solid #ccc;
}

/* Titre du footer */
.footer-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    color: rgb(251, 255, 195);
}

/* Mentions légales */
.footer-legal {
    font-size: 14px;
    color: rgb(251, 255, 195);
    margin: 5px 0 0;
}

/* POUR NOS BOUTON */

/* Bouton de connexion et contact et profil*/
.btn{
    background-color: #f4979c; 
    color: rgb(251, 255, 195);
    border: none;
    padding: 10px 20px;
    border-radius: 10vh;
    font-weight: bold;
    margin-right: 5vh ;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Ombre ajoutée */
}
.btn:hover {
    background-color: rgb(251, 255, 195);
    color: rgb(194, 200, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Icône Facebook */
.social-link {
    /*display: inline-block;*/
    margin-top: 1em;
}

.social-icon {
    width: 2em;
    height: 2em;
}


/* --- Éléments généraux --- */

/* Media query pour écrans de 768px et moins */
@media screen and (max-width: 768px) {
    .btn-contact {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%; /* Bouton rond */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .btn-contact .contact-text {
        display: none; /* Cache le texte du bouton */
    }

    .btn-contact .contact-icon {
        display: block; /* Affiche uniquement l'icône */
    }
}