@import url("https://fonts.googleapis.com/css2?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");


/* CODE GÉNÉRAL */
/* --- Base CSS --- */
p {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 {
    font-family: 'Oswald' , sans-serif;
    margin: 0;
    padding: 0;
}

/*HEDEAR & FOOTER*/


/* --- HEADER --- */
/* --- Header Styles --- */
.custom-header {
    background-color: #a4c7e2; 
    padding: 2em 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    clip-path: ellipse(100% 100% at 50% 0); 
}

/* Logo */
.header-logo {
    max-width: 6em;
    height: auto;
    margin-left: 0.2em;
}

.footer-logo {
    max-width: 6em;
    height: auto;
    margin-left: 0.2em;
}

/* Titre principal */
.header-title {
    font-size: 36px;
    color: rgb(251, 255, 195);
    font-weight: bold;
    margin: 0;
}

/* Sous-titre */
.header-subtitle {
    font-size: 24px;
    color: white;
    margin: 0;
}

/* --- FOOTER --- */
/* --- Footer Styles --- */
.custom-footer {
    background-color: #a4c7e2; /* Bleu clair du footer */
    padding: 0.2em 0;
    border-top: 1px solid #ccc;
}

/* Titre du footer */
.footer-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    color: rgb(251, 255, 195);
}

/* Mentions légales */
.footer-legal {
    font-size: 14px;
    color: rgb(251, 255, 195);
    margin: 5px 0 0;
}

/* POUR NOS BOUTON */
.btn {
    background-color: #f4979c;
    color: rgb(251, 255, 195);
    border: none;
    padding: 10px 20px;
    border-radius: 10vh;
    font-weight: bold;
    margin-right: 4vh;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Icônes par défaut, cachées */
.btn-icon {
    display: none;
    font-size: 20px;
    color: rgb(251, 255, 195);
}

/* Style au survol */
.btn:hover {
    background-color: rgb(251, 255, 195);
    color: rgb(194, 200, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* Media query pour écrans de 780px et moins */
@media screen and (max-width: 780px) {
    .btn {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%; /* Bouton rond */
        justify-content: center;
        margin-right: 2vh;
    }

    .btn-text {
        display: none; /* Cache le texte du bouton */
    }

    .btn-icon {
        display: inline-block; /* Affiche uniquement l'icône */
    }
}

/* Icône Facebook */
.social-link {
    /*display: inline-block;*/
    margin-top: 1em;
}

.social-icon {
    width: 2em;
    height: 2em;
}

/* --- Éléments généraux --- */

/* Media query pour écrans de 768px et moins */
@media screen and (max-width: 768px) {
    .btn-contact {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%; /* Bouton rond */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .btn-contact .contact-text {
        display: none; /* Cache le texte du bouton */
    }

    .btn-contact .contact-icon {
        display: block; /* Affiche uniquement l'icône */
    }
}

/*Page Accueil */

/* Qui sommes nous ? */
/* Style pour l'image dans la section "Qui sommes-nous ?" */
.img-equal {
    border-radius: 20px; 
    max-width: 80%; /* Réduction de la taille de l'image */
    height: auto; 
    display: block; 
    margin: 0 auto; 
    object-fit: cover; /* S'assure que l'image garde ses proportions sans être déformée */
}

/* Justification du texte dans la section "Qui sommes-nous ?" */
.text-justify {
    text-align: justify; 
    line-height: 1.6; 
    margin-bottom: 1rem; 
}

/* Ajustement du titre dans la section "Qui sommes-nous ?" */
h2.fw-bold {
    text-align: left; 
    margin-bottom: 1rem; 
}

/* Les membres du bureau */
/* Style général pour les étiquettes */
.member-card {
    background-color: #6687A4; 
    border-radius: 25px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    min-height: 480px; 
    max-width: 300px; 
    margin: 0 auto; 
    overflow: hidden; /* Évite que le contenu dépasse */
}

/* Style pour les images */
.member-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ajuste l'image sans la déformer */
    border-radius: 25px; 
    margin-bottom: 40px; 
}

/* Style pour le corps de la carte */
.member-card .card-body {
    text-align: left; 
    color: #000; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%; 
}

/* Titre des étiquettes */
.member-card .card-title {
    font-weight: bold; 
    margin-bottom: 10px; 
}

/* Texte descriptif */
.member-card .card-text {
    margin: 0; 
}

/* Centrage global */
.row {
    justify-content: center; 
}

/*Page Connexion*/
.connexion {
    display: flex;
    align-items: stretch; 
    justify-content: space-between; 
    gap: 2%; 
    background-color: #a4c7e2; 
    margin: 5%; 
    padding: 5%; 
    border-radius: 2%; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); 
}

.col {
    flex: 1; 
    padding: 2%; 
    position: relative;
    box-sizing: border-box; 
}

.col:not(:last-child) {
    border-right: 0.2em solid #ccc; /* Trait vertical entre les colonnes */
}

.titre {
    margin-bottom: 1.5em; 
}

.champsConnexion {
    margin-top: 1.5em; 
}

#extra-fields {
    display: flex;
    flex-direction: column;
    gap: 1em; 
}

.champsConnexion form {
    display: flex;
    flex-direction: column; 
    gap: 1em; 
}

/* Style pour les champs de saisie */
.champsConnexion input, #extra-fields input {
    width: 100%; 
    padding: 0.8em; 
    border: 0.1em solid #ccc; 
    border-radius: 0.3em; 
    font-size: 1em; 
    box-sizing: border-box; 
}

/* Style pour le placeholder 
.champsConnexion input::placeholder {
    color: #aaa; 
    font-style: italic; 
}*/

/*Bouton formulaire connexion*/

.btn1 {
    background-color: #f4979c;
    color: rgb(251, 255, 195);
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 5em;
    font-weight: bold;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);
    font-size: 1em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgb(251, 255, 195);
    color: rgb(194, 200, 255);
    box-shadow: 0.3em 0.3em 0.6em rgba(0, 0, 0, 0.3);
}

/* Adaptation pour les écrans plus petits */
@media (max-width: 768px) {
    .connexion {
        flex-direction: column; 
        gap: 3em; 
    }

    .col:not(:last-child) {
        border-right: none; /* Supprimer le trait vertical */
        border-bottom: 0.2em solid #ccc; /* Ajouter un trait horizontal entre les colonnes */
        padding-bottom: 2em;
    }
}

/*page contact*/
.contact {
    background-color: #a4c7e2; 
    margin: 5%; 
    padding: 5%; 
    border-radius: 3%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.facebook {
    margin-top: 10%;
    height: 5em;
}

.rs {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.rs img.facebook {
    width: 40px; 
    height: auto; 
}

.rs p {
    margin-top: 0; 